html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100%; /* Ensure the root container is at least full height */
}

.container > div {
  overflow: visible !important;
}
